/* CSS Document */
.cdform {
	width:100% !important;
}

.main_finance_table {
	width: 850px;
	text-align:center;
	color:#000000;
}
.sub_finance_table {
	max-width: 805px;
}
.finance_column {
	max-width: 400px;
	color:#000000;
}
.fin_legend {
	text-align: left;
}
.finance_hide_notice {
	display:none;
}
.finance_alert {
	font-size:18px;font-weight:bold;color:#FF0000;
}
.finance_segment_wide {
	float:left;
	width:100%;
}
.finance_segment {
	float:left;
	max-width:430px;
	padding:3px;
}
.entry-content  {
	width: 100% !important;	
}
.entry-content div .finance_segment {
	max-width:410px !important;
	padding:0px !important;
}
.finance_form {
	margin-left:0px;
}
.finance_label {
	width:250px;
}
.finance_locations {
	width:425px;margin-left:20px;
}
.finance_hidden {
	display:none;
}
.finance_select {
	width:65px;
}
.finance_comment {
	width:350px !important;
	margin-left:25px;
}
.finance_applicant_cell {
	width:48%;
	float:left;
}
.finance_applicant_cell_wide {
	width:100%;
	float:left;
}
.finance_coapplicant_cell {
	width:48%;
	float:left;
}
.finance_info_cell {
	background:#FFFF00;
}
.finance_left {
	background:#e3e3e3;
}
.have_cosigner {
	margin-left:40%;float:left;
}
.cosigner_question {
	margin-left:10px;float:left;
}
.cosigner_block {
	background;#DDDDDD;
}
.finance_disclosure {
	float:right;
	width:430px !important;
	margin-right:30px;
	height:365px;
	font-size:9px;
}
.cosigner_title {
	color:#ffffff;
	background-color:#999999;
}
.finance_btn {
	height:75px;
	width:260px !important;
}
.finance_checkbox {
	width:15px;
	margin-left:15px;
}
.finance_img {
	margin-left:75px;
}
.finance_box_title {
	width:375px;
}
.finance_select_stock {
	display: none;
	margin-left:20px;
}
.finance_no_img {
	margin-left:150px;
}
#bdm, #bdd, #bdy, #yac, #mac, #p2yac, #p2mac, #yaca, #maca, #bcp, #bct {
	width:50px;
}
#co_bdm, #co_bdd, #co_bdy, #co_yaca, #co_maca, #co_yaca2, #co_bcp2, #co_bct2, #co_maca2, #co_p2yac, #co_p2mac, #co_yac2, #co_mac2, #co_bcp, #co_bct, #p1co_yac2, #p1co_mac2 {
	width:50px;
}
.make_co_signer {
	width:50px;
}
.personal_info {
	float:left;
}
.previous_employment {
	float:left;
}
.previous_address {
	float:left;
}
.living_situation {
	float:left;
}
#select_car_txt {
	max-width: 260px;
	width: 100%;
	display: block;
}
@media only screen and (max-width : 767px) {
	.cdform, #frm_app {
		margin-left:-10px !important;
	}
	.finance_applicant_cell {
		width: 100% !important;
	}
	.main_finance_table {
		width: 249px !important;
		text-align:center !important;
	}
	.sub_finance_table {
		width: 205px !important;
	}
	
	.have_cosigner {
		margin-left: 20px !important;
	}
	
	#txtDisclosure {
		float:none !important;
		width:220px !important;
		margin-right: auto !important;
		height: 75px !important;
	}
	
	#frm_app {
		font-size:12px;
		width: 240px;
	}
	
	#frm_app fieldset legend {
		font-size:14px;
	}
	
	#frm_app {
		
	}
	.#voi_title {
		max-width: 200px;
	}
	.finance_box_title {
		max-width: 200px;	
	}
	#frm_app, .cd-box-title, img {
		margin-left: -8px !important;
	}
	
	#frm_app textarea {
		width:220px !important;
		margin-left:10px;
	}
	
	#frm_app input {
		height:25px;
		font-size:12px !important;
		width: 100%;
	}
	
	#frm_app select {
		height:27px;
		font-size:12px !important;
	}
	
	#frm_app .search_btn {
		width:230px !important;
		height: 75px !important;
		font-size:14px !important;
	}
	
	#sbtValidate {
		width:230px !important;
		height: 75px !important;
		font-size:14px !important;
	}
	
	.finance_column {
		width: 249px !important;
	}
	
	.style57 {
		display: none;
	}
	
	#finance_locations {
		width:230px !important;
	}
	
	#pick_voi_1 {
		width: 20px;
	}
	
	#pick_voi_2 {
		width: 20px;
	}
	
	#pick_voi_3 {
		width: 20px;
	}
	
	.cd-radio {
		width: 20px !important;
	}
	#find_voi {
		margin-left:20px !important;
	}
	.not_my_car {
		width:20px !important;
	}
	.cd-box-title {
		margin-left:20px !important;	
	}
}
#select_stock_txt {
	max-width:175px;	
}