/* CSS Document */
.remove_qualify {
	cursor: pointer;
}
.hide_qualifys {
	display:none;
}
.remove_qualify_btn {
	cursor: pointer;
	display:none;
	margin-left:10px;
	margin-top:4px;
}
.add_qualify_btn {
	cursor: pointer;
	margin-left:10px;
	margin-top:4px;
}
.qualify_msg {
	display:none;
	background: #f1cadf;
	margin:10px;
	padding:5px;
	font-weight:bold;
}
.cdform {
	margin: 10px auto 0 auto;
	width: 460px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.cdform fieldset {
	margin-top: 10px;
	padding: 5px 0 15px 0;
	border: 1px solid #ADADAD;
	border-left-color: #ECECEC;
	border-top-color: #ECECEC;
	background: #F7F7F7;
}
.cdform legend {
	margin-left: 10px;
	padding: 0 2px;
	font: normal 20px Times;
	color: 
	#666;
}
.cdform label {
	width: 140px;
	margin: 4px 10px 0 0;
	display: -moz-inline-box;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
.cd-box-title {
	margin-left:5px!important;
}
.cdlabel_right {
	width: 190px;
	margin: 4px 10px 0 0;
	display: -moz-inline-box;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.cdform textarea {
	width: 420px;
	margin-left: 10px;
}
.cdform input {
	width: 150px;
}
.cd_date {
	font-size:11px;
}
span.reqtxt, span.emailreqtxt {
	margin: 3px 0 0 3px;
	font-size: 0.9em;
	display: -moz-inline-box;
	vertical-align: top;
	color:#ff0000;
}
ol.cd-ol {
	margin: 0!important;
	padding: 0!important;
}
ol.cd-ol li {
	background: none;
	margin: 5px 0;
	padding: 0;
	list-style: none!important;
	text-align: left;
	line-height: 1.3em;
}
.qualify_needed {
	margin-left:10px;
	width:425px !important;
	height:100px;
}
.reqtxt_qualify_us {
	margin-left:10px;
}
.qualify_us_btn {
	float:right;
}
.qualify_us_send_to {
	margin-left:10px;
}
@media only screen and (max-width : 767px) {
	#qualify_form {
		font-size:16px;
		width: 280px;
		margin-left:30px;
	}
	#qualify_form fieldset legend {
		font-size:15px;
	}
	#qualify_form label {
		width: 250px;
	}
	#taa {
		width: 240px;
		margin-left: 10px;
	}
	#taj {
		width: 240px;
		margin-left: 10px;
	}
	#have_trade {
		width: 240px;
		margin-left: 10px;
	}
	#qualify_form .search_btn {
		width:125px;
		height: 38px !important;
		font-size:12px !important;
	}
	.cdform textarea {
		width:230px;
	}
	#qualify_form input {
		height:25px;
		font-size:12px !important;
		width: 90% !important;
		margin-left: 2% !important;
	}
	#qualify_needed {
		width:240px !important;
		margin-left:10px !important;
	}
	
	#qualify_form select {
		height:27px;
		font-size:12px !important;
	}
	.qualify-appointment fieldset {
		width:260px !important;
		margin-left: -35px;
	}
	.cd-sb {
		width:240px !important;
		margin-left: -35px !important;
	}
	.qualify_us_btn {
		margin-top: 10px;
	}
}